@import url("https://fonts.googleapis.com/css?family=Be+Vietnam:100,400,700&display=swap");

* {
  font-family: "Be Vietnam", sans-serif;
}

$primary: linear-gradient(to bottom, purple, rgba(200, 30, 200, 1));
$white: linear-gradient(to bottom, #fff, #eee);
$gray: rgba(100, 100, 100, 1);
$red: #f25;

@mixin phone {
  @media screen and (min-width: 576px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (min-width: 992px) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: 112.5em) {
    @content;
  }
}

body {
  font-size: 12px;

  @include phone {
    font-size: 14px;
  }
  @include tablet {
    font-size: 16px;
  }
}

.btn {
  border-radius: 1.25em;
  &:focus {
    box-shadow: none;
  }
}
.btn-primary {
  background: $primary;
  border: none;
  border-radius: 1.25em;
}

.btn-warning,
.btn-danger {
  background: $red;
}

.file-input {
  margin-top: 0.625em;
  color: $gray;
  border-radius: 1.875em;
  padding: 0.625em;
  text-align: center;
  // padding-top: 3px;
  cursor: pointer;

  .filename {
    font-style: oblique;
  }

  .btn-close {
    color: $gray;
    border-radius: 50%;
    padding: 0;
    margin-left: 3px;

    &:hover {
      color: #fff;
      background: $red;
    }
  }

  &:hover {
    background: $gray;
    color: #fff;
  }
}

.login {
  background: $white;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;

  .login-card {
    width: 25em;
    color: $gray;
    padding: 1.25em;
    border-radius: 1.25em;
    box-shadow: 0px 3px 0.625em 2px rgba(100, 100, 100, 0.1);
    text-align: center;

    h4 {
      font-weight: 700;
      font-size: 1.3em;
      text-transform: uppercase;
    }
    p {
      font-size: 0.8em;
    }

    .navbar-brand {
      h3 {
        font-size: 1.5em;
        margin: 0 0 0.7em 0;
      }
    }

    .google-login {
      background: $primary;
      border: none;
      margin: 1em 0;
      border-radius: 1.25em;
    }
  }
}

.navbar-brand {
  text-align: center;
  padding-right: 0;
  margin-right: 0;
  h3 {
    font-weight: 100;
    font-size: 1.1em;
    margin: 2em 0;
    b {
      font-weight: 700;
      text-transform: uppercase;
      margin-left: -5px;
      background: $primary;
      color: transparent;
      background-clip: text;
    }
  }
}
.navigation {
  display: flex;
  height: 100vh;
  text-align: center;
  background: $white;
  width: 100%;
  padding: 0;
  box-shadow: 3px 0 0.625em 2px rgba(100, 100, 100, 0.1);
  z-index: 10;
  flex: 1;

  ul {
    li {
      width: 100%;
      .btn {
        width: 100%;
        height: 5em;
        border-radius: 0px;
        padding-top: 0.7em;
        border: none;
        font-size: 1.5em;
        color: $gray;
        line-height: 0;

        &:hover,
        &.active {
          background: $primary;
          color: #fff;
        }
      }
      .notice {
        position: relative;
        &:after {
          content: "";
          display: block;
          height: 12px;
          width: 12px;
          border-radius: 50%;
          border: 2px solid #fff;
          position: absolute;
          left: 50%;
          top: 55%;
          background: $red;
        }
      }
    }
  }
  .gap {
    flex: 1;
  }
  .auth-user-info {
    cursor: pointer;
    align-content: flex-end;

    .auth-user-avatar {
      img {
        width: 5em;
        height: 5em;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .auth-user-dname {
      margin-top: 5px;
      font-weight: 700;
      font-size: 0.8em;
      padding: 0 3px;
    }
    .signout {
      background: $primary;
      margin: 5px 0 3.125em;
      font-size: 0.6em;
      border: none;
      color: transparent;
      border-radius: 0px;
      background-clip: text;
      &:hover {
        background: $primary;
        color: #fff;
      }
    }

    &:hover {
      .auth-user-dname {
        text-decoration: underline;
      }
    }
  }
}

header {
  // text-transform: uppercase;
  display: flex;
  height: 3.125em;
  align-items: center;

  h5 {
    font-weight: 700;
    font-size: 1.2em;
    color: $gray;
  }
}

.convo-list {
  background: #efefef;
  padding: 0;
  position: relative;
  overflow: hidden;
  header {
    margin: 0.5em 1em;
    display: flex;
    flex-direction: row;

    h5 {
      flex: 1;
    }

    .actions {
      align-content: flex-end;

      .btn {
        height: 3.125em;
        width: 3.125em;
        border-radius: 50%;
        color: $gray;
        &:hover {
          background: #fff;
        }
      }
    }
  }
  .cr-list {
    box-sizing: border-box;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100% - 5em);
    width: 100%;
    .conversation {
      display: flex;

      flex-direction: column;
      flex: 0 0 100%;
      padding: 1em;
      cursor: pointer;

      &.active,
      &.unread:hover,
      &:hover {
        background: #ddd;
      }

      // &.active {
      // 	.cr-info {
      // 		.convo-info {
      // 			.convo-title {
      // 				color: #000;
      // 			}
      // 		}
      // 	}
      // }

      max-height: 12.5em;

      &.unread {
        background: #fff;
        .cr-info {
          .convo-info {
            .convo-title {
              color: #000;
            }
            .convo-last-msg {
              color: #000;
              font-style: oblique;
            }
          }
        }
      }

      .cr-info {
        display: flex;
        flex-direction: row;
        max-height: 6.25em;
        .convo-icon {
          background: #ccc;
          min-width: 6.25em;
          min-height: 6.25em;
          border-radius: 50%;
          .cr-icon {
            width: 100%;
            height: 100%;
            font-size: 2.5em;
            text-align: center;
            color: $gray;
            padding-top: 0.4em;
          }
          img {
            width: 6.25em;
            height: 6.25em;
            border-radius: 50%;
            object-fit: cover;
          }
        }

        .convo-info {
          margin-left: 1em;
          width: 100%;

          .convo-invite {
            background: #fff;
            padding: 5px;
            text-align: center;
            border-radius: 1.25em;
            width: 100%;
            .invitation {
              font-weight: 700;
              font-size: 0.7em;
            }
            .actions {
              margin: 5px 0;
              .btn {
                margin-right: 5px;
                border-radius: 1.25em;
                font-size: 0.7em;
              }
            }
          }

          .convo-title {
            font-size: 1.1em;
            width: 12em;
            font-weight: 700;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: $gray;
            margin-bottom: 5px;
          }

          .convo-last-msg {
            height: 5em;
            overflow: hidden;
            line-clamp: 4;
            color: $gray;

            &.null {
              font-style: oblique;
              font-weight: 100;
            }
          }
        }
      }
      .extras {
        display: flex;
        flex-direction: row;

        .gap {
          flex: 1;
        }

        .time {
          font-size: 0.7em;
          color: #777;
        }
      }
    }
  }
}

.messages {
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;

  .overlay {
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;

    .text-info-white {
      text-align: center;
      padding: 0.625em;
      color: rgba(255, 255, 255, 0.6);
      font-weight: 700;
      font-size: 2em;
    }
  }
  header {
    padding: 0.625em;
    height: 11em;

    @include tablet {
      height: 130px;
    }

    background: $primary;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    .close-conversation {
      align-self: flex-start;
      width: 2.5em;
      height: 2.5em;

      .btn-white {
        width: 2em;
        height: 2em;
        padding: 0.1em;
        background: #fff;
        border-radius: 50%;
        color: purple;
      }
    }

    .cr-info {
      display: flex;
      align-items: center;
      flex: 1;
      img {
        width: 7.5em;
        height: 7.5em;
        object-fit: cover;
        border-radius: 50%;
        @include tablet {
          height: 100px;
          width: 100px;
        }
      }
      .cr-icon {
        justify-self: center;
        width: 2.5em;
        height: 2.5em;
        border-radius: 50%;
        background: #fff;
        color: purple;
        font-size: 2.5em;
        padding-top: 0.35em;
        text-align: center;
      }

      .cr-title {
        margin-left: 0.625em;
        h3 {
          line-height: 1.2em;
          margin-top: 5px;
          font-size: 1.5em;
          text-overflow: ellipsis;
          @include tablet {
            font-size: 1.5em;
            line-height: 0.75em;
          }
          font-weight: 700;
        }
        .activity {
          font-size: 0.8em;
        }

        .buttons {
          margin-top: 8px;
          .btn-white {
            color: #fff;
            border-radius: 50%;
            border: 1px solid #fff;
            height: 2.5em;
            width: 2.5em;
            font-size: 1.2em;
            margin-right: 0.7em;

            &:hover {
              color: purple;
              background: #fff;
            }
          }
        }
      }
    }
  }

  .read-by {
    max-height: 1.25em;
    display: flex;
    flex-direction: row;
    opacity: 0.8;
    align-items: center;

    .seen-icon {
      color: $gray;
      font-size: 0.8em;
    }

    .users {
      display: flex;
      flex-direction: row;
      margin-left: 5px;

      .avatar {
        margin-left: 5px;
        img {
          height: 1.25em;
          width: 1.25em;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }

  .typing-hint {
    display: flex;
    flex-direction: row;
    background: transparent;
    padding: 5px 5px 5px 0;
    margin-top: 0.625em;
    flex-wrap: wrap;

    .usr-msg-group {
      display: flex;
      flex-direction: row;
      padding: 5px;
      max-width: 18.75em;
      border-radius: 0.625em;
      background: #fff;
      box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.1);
      justify-content: center;
      align-items: center;
      margin: 3px;

      .avatar {
        img {
          border-radius: 50%;
          width: 1.5em;
          height: 1.5em;
          object-fit: cover;
        }
      }

      .msg {
        // font-weight: 100;
        margin-left: 3px;
        font-size: 0.6em;
      }
    }
  }

  .chat-view {
    max-width: none;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    // padding: 1.25em;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;

    .container {
      max-width: none;
      position: absolute;
      overflow-y: auto;
      height: 100%;
      flex: 1;
      padding: 1.875em 1.25em;
      display: flex;
      flex-direction: column;

      .row {
        display: flex;
        flex-direction: column;
        padding: 0 5px;

        .msg-container {
          align-self: flex-start;
          max-width: 80%;
          display: flex;

          .msg-media {
            margin-bottom: 0.625em;
            img {
              max-width: 100%;
              border-radius: 0.625em;
            }
          }

          &.sent {
            align-self: flex-end;

            .msg-group {
              background: purple;
              color: #fff;
              width: 98%;
              overflow-wrap: break-word;
              display: inline-block;

              .msg-time {
                text-align: right;
                color: #fff;
              }
            }
          }
          .usr-img {
            display: inline-block;
            height: 3.125em;
            width: 3.125em;
            align-self: center;
            transform: translateY(-0.625em);
            img {
              object-fit: cover;
              border-radius: 50%;
              height: 3.125em;
              width: 3.125em;
            }
          }

          .msg-group {
            background: #fff;
            box-shadow: 1px 0 5px 1px rgba(0, 0, 0, 0.1);
            border-radius: 0.625em;
            padding: 0.625em;
            margin: 0 0 1.25em 0.625em;

            .msg-time {
              margin-top: 5px;
              // font-style: oblique;
              font-size: 0.6em;
              color: $gray;
              opacity: 0.7;
            }
          }
        }
      }
    }
  }
}

.msg-form {
  padding: 1.875em;
  background: $white;
  height: 11em;

  @include tablet {
    height: 160px;
  }

  .form {
    position: relative;
  }

  .msg {
    border-radius: 1.25em;
    font-size: 1em;
    height: 3.75em;
    @include tablet {
      height: 3.75em;
    }

    &:focus {
      box-shadow: none;
      border: 1px solid #ccc;
      border-right: none;
    }
  }

  #image-upload {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }

  .file-input {
    margin-top: 0.625em;
    color: $gray;
    min-height: 2.3em;
    min-width: 2.3em;
    border-radius: 2.3em;
    padding: 5px;

    text-align: center;
    // padding-top: 3px;
    cursor: pointer;

    @include tablet {
      min-height: 1.875em;
      min-width: 1.875em;
      border-radius: 1.875em;
    }

    .filename {
      font-size: 0.7em;
      font-style: oblique;
    }

    .btn-close {
      color: $gray;
      border-radius: 50%;
      width: 1.25em;
      height: 1.25em;
      font-size: 0.5em;
      padding: 0;
      margin-left: 3px;

      &:hover {
        color: #fff;
        background: $red;
      }
    }

    &:hover {
      background: #fff;
    }
  }

  .send-btn {
    border-top-right-radius: 1.25em;
    border-bottom-right-radius: 1.25em;
    width: 2.7em;
    @include tablet {
      width: 3.75em;
    }
    color: $gray;
    background: #fff;
    border: 1px solid #ccc;

    &:hover {
      border: none;
      background: $primary;
      color: #fff;
    }
  }
  .emoji-btn {
    border-left: none;
    background: #fff;
    color: rgba(0, 0, 0, 0.2);
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

    &:focus {
      box-shadow: none;
    }

    &:hover {
      color: $gray;
    }
  }
}

.chatroom-info {
  .cr-title {
    display: flex;
    align-items: center;
    margin-top: 1.25em;
    .avatar {
      img {
        width: 6.25em;
        height: 6.25em;
        object-fit: cover;
        border-radius: 50%;
      }
      .cr-icon {
        height: 3em;
        width: 3em;
        font-size: 2em;
        color: $gray;
        background: #eaeaea;
        border-radius: 50%;
        text-align: center;
        padding-top: 0.5em;
      }
    }

    .title {
      .file-input,
      .btn,
      .form-control {
        font-size: 0.7em;
        border-radius: 1.25em;
      }
      #cr-new-avatar-img {
        opacity: 0;
        position: absolute;
        z-index: -1;
      }
    }
  }
  .invitation {
    margin: 1.25em 0;
    .form-control {
      display: inline-block;
      width: 12.5em;
      font-size: 0.8em;
      height: 1.875em;
      border-radius: 1.25em;
    }
    .btn {
      padding: 6px 0.625em;
      font-size: 0.7em;
    }
  }
  .associated-users {
    display: flex;
    position: relative;
    overflow: hidden;
    height: 25em;

    .members,
    .invited {
      flex: 1;
      display: flex;
      position: relative;
    }
    .members-container {
      position: absolute;
      width: 100%;
      height: 90%;
      display: flex;
      flex: 1;
      overflow-y: auto;
      flex-direction: column;
      align-self: flex-end;

      .user {
        padding: 5px;
        display: flex;
        align-items: center;
        height: 4.375em;
        width: 100%;
        .avatar {
          width: 3.125em;
          height: 3.125em;

          img {
            width: 3.125em;
            height: 3.125em;
            border-radius: 50%;
            object-fit: cover;
          }
        }
        .info {
          display: flex;
          flex-direction: column;
          .name {
            font-size: 0.8em;
          }
          .activity {
            font-size: 0.6em;
            font-weight: 100;
            font-style: oblique;
          }
        }

        &:hover {
          background: #eaeaea;
        }
      }
    }
  }
}
