@import url("https://fonts.googleapis.com/css?family=Be+Vietnam:100,400,700&display=swap");

* {
  font-family: "Be Vietnam", sans-serif;
}

$primary: linear-gradient(to bottom, purple, rgba(200, 30, 200, 1));
$white: linear-gradient(to bottom, #fff, #eee);
$gray: rgba(100, 100, 100, 1);
$red: #f25;

.btn {
  border-radius: 20px;
  &:focus {
    box-shadow: none;
  }
}
.btn-primary {
  background: $primary;
  border: none;
  border-radius: 20px;
}

.btn-warning,
.btn-danger {
  background: $red;
}

.file-input {
  margin-top: 10px;
  color: $gray;
  border-radius: 30px;
  padding: 10px;
  text-align: center;
  // padding-top: 3px;
  cursor: pointer;

  .filename {
    font-style: oblique;
  }

  .btn-close {
    color: $gray;
    border-radius: 50%;
    padding: 0;
    margin-left: 3px;

    &:hover {
      color: #fff;
      background: $red;
    }
  }

  &:hover {
    background: $gray;
    color: #fff;
  }
}

.login {
  background: $white;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;

  .login-card {
    width: 450px;
    color: $gray;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 3px 10px 2px rgba(100, 100, 100, 0.1);
    text-align: center;

    h4 {
      font-weight: 700;
      font-size: 1.3em;
      text-transform: uppercase;
    }
    p {
      font-size: 0.8em;
    }

    .navbar-brand {
      h3 {
        font-size: 1.5em;
        margin: 0 0 0.7em 0;
      }
    }

    .google-login {
      background: $primary;
      border: none;
      margin: 1em 0;
      border-radius: 20px;
    }
  }
}

.navbar-brand {
  text-align: center;
  padding-right: 0;
  margin-right: 0;
  h3 {
    font-weight: 100;
    font-size: 1.1em;
    margin: 2em 0;
    b {
      font-weight: 700;
      text-transform: uppercase;
      margin-left: -5px;
      background: $primary;
      color: transparent;
      background-clip: text;
    }
  }
}
.navigation {
  display: flex;
  height: 100vh;
  text-align: center;
  background: $white;
  width: 100%;
  padding: 0;
  box-shadow: 3px 0 10px 2px rgba(100, 100, 100, 0.1);
  z-index: 10;
  flex: 1;

  ul {
    li {
      width: 100%;
      .btn {
        width: 100%;
        height: 80px;
        border-radius: 0px;
        padding-top: 20px;
        border: none;
        font-size: 25px;
        color: $gray;

        &:hover,
        &.active {
          background: $primary;
          color: #fff;
        }
      }
      .notice {
        position: relative;
        &:after {
          content: "";
          display: block;
          height: 15px;
          width: 15px;
          border-radius: 50%;
          border: 2px solid #fff;
          position: absolute;
          left: 50%;
          top: 55%;
          background: $red;
        }
      }
    }
  }
  .gap {
    flex: 1;
  }
  .auth-user-info {
    cursor: pointer;
    align-content: flex-end;

    .auth-user-avatar {
      img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .auth-user-dname {
      margin-top: 5px;
      font-weight: 700;
      font-size: 0.8em;
      padding: 0 3px;
    }
    .signout {
      background: $primary;
      margin: 5px 0 50px;
      font-size: 0.6em;
      border: none;
      color: transparent;
      border-radius: 0px;
      background-clip: text;
      &:hover {
        background: $primary;
        color: #fff;
      }
    }

    &:hover {
      .auth-user-dname {
        text-decoration: underline;
      }
    }
  }
}

header {
  // text-transform: uppercase;
  display: flex;
  height: 50px;
  align-items: center;
  h5 {
    font-weight: 700;
    font-size: 1.2em;
    color: $gray;
  }
}

.convo-list {
  background: #efefef;
  padding: 0;
  position: relative;
  overflow: hidden;
  header {
    margin: 0.5em 1em;
    display: flex;
    flex-direction: row;

    h5 {
      flex: 1;
    }

    .actions {
      align-content: flex-end;

      .btn {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        color: $gray;
        &:hover {
          background: #fff;
        }
      }
    }
  }
  .cr-list {
    box-sizing: border-box;
    position: absolute;
    overflow-y: auto;
    height: calc(100% - 80px);
    width: 100%;
    .conversation {
      display: flex;
      flex-direction: column;
      flex: 0 0 100%;
      padding: 1em;
      cursor: pointer;

      &.active,
      &.unread:hover,
      &:hover {
        background: #ddd;
      }

      // &.active {
      // 	.cr-info {
      // 		.convo-info {
      // 			.convo-title {
      // 				color: #000;
      // 			}
      // 		}
      // 	}
      // }

      max-height: 200px;

      &.unread {
        background: #fff;
        .cr-info {
          .convo-info {
            .convo-title {
              color: #000;
            }
            .convo-last-msg {
              color: #000;
              font-style: oblique;
            }
          }
        }
      }

      .cr-info {
        display: flex;
        flex-direction: row;
        max-height: 100px;
        .convo-icon {
          background: #ccc;
          min-width: 100px;
          min-height: 100px;
          border-radius: 50%;
          .cr-icon {
            width: 100%;
            height: 100%;
            font-size: 2.5em;
            text-align: center;
            color: $gray;
            padding-top: 15px;
          }
          img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
          }
        }

        .convo-info {
          margin-left: 1em;
          width: 100%;

          .convo-invite {
            background: #fff;
            padding: 5px;
            text-align: center;
            border-radius: 20px;
            width: 100%;
            .invitation {
              font-weight: 700;
              font-size: 0.7em;
            }
            .actions {
              margin: 5px 0;
              .btn {
                margin-right: 5px;
                border-radius: 20px;
                font-size: 0.7em;
              }
            }
          }

          .convo-title {
            font-size: 1.1em;
            font-weight: 700;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: $gray;
            margin-bottom: 5px;
          }

          .convo-last-msg {
            height: 80px;
            overflow: hidden;
            line-clamp: 4;
            color: $gray;

            &.null {
              font-style: oblique;
              font-weight: 100;
            }
          }
        }
      }
      .extras {
        display: flex;
        flex-direction: row;

        .gap {
          flex: 1;
        }

        .time {
          font-size: 0.7em;
          color: #777;
        }
      }
    }
  }
}

.messages {
  padding: 0;
  display: flex;
  flex-direction: column;

  .overlay {
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;

    .text-info-white {
      text-align: center;
      padding: 10px;
      color: rgba(255, 255, 255, 0.6);
      font-weight: 700;
      font-size: 2em;
    }
  }
  header {
    padding: 10px;
    height: 110px;
    background: $primary;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .cr-info {
      display: flex;
      align-items: center;
      img {
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 50%;
      }
      .cr-icon {
        justify-self: center;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: #fff;
        color: purple;
        font-size: 45px;
        text-align: center;
      }

      .cr-title {
        margin-left: 10px;
        h3 {
          line-height: 12px;
          margin-top: 5px;
          font-size: 24px;
          font-weight: 700;
        }
        .activity {
          font-size: 0.8em;
        }

        .buttons {
          margin-top: 8px;
          .btn-white {
            color: #fff;
            border-radius: 50%;
            border: 1px solid #fff;
            height: 40px;
            width: 40px;
            margin-right: 20px;

            &:hover {
              color: purple;
              background: #fff;
            }
          }
        }
      }
    }
  }

  .read-by {
    max-height: 20px;
    display: flex;
    flex-direction: row;
    opacity: 0.8;
    align-items: center;

    .seen-icon {
      color: $gray;
      font-size: 0.8em;
    }

    .users {
      display: flex;
      flex-direction: row;
      margin-left: 5px;

      .avatar {
        margin-left: 5px;
        img {
          height: 20px;
          width: 20px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }

  .typing-hint {
    display: flex;
    flex-direction: row;
    background: transparent;
    padding: 5px 5px 5px 0;
    margin-top: 10px;
    flex-wrap: wrap;

    .usr-msg-group {
      display: flex;
      flex-direction: row;
      padding: 5px;
      max-width: 300px;
      border-radius: 10px;
      background: #fff;
      box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.1);
      justify-content: center;
      align-items: center;
      margin: 3px;

      .avatar {
        img {
          border-radius: 50%;
          width: 25px;
          height: 25px;
          object-fit: cover;
        }
      }

      .msg {
        // font-weight: 100;
        margin-left: 3px;
        font-size: 0.6em;
      }
    }
  }

  .chat-view {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    // padding: 20px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;

    .container {
      position: absolute;
      overflow-y: auto;
      height: 100%;
      flex: 1;
      padding: 30px 20px;
      display: flex;
      flex-direction: column;

      .row {
        display: flex;
        flex-direction: column;

        .msg-container {
          align-self: flex-start;
          max-width: 80%;
          display: flex;
          &.sent {
            align-self: flex-end;

            .msg-group {
              background: purple;
              color: #fff;
              width: 98%;
              overflow-wrap: break-word;
              display: inline-block;

              .msg-media {
                margin-bottom: 10px;
                img {
                  max-width: 100%;
                  border-radius: 10px;
                }
              }

              .msg-time {
                text-align: right;
                color: #fff;
              }
            }
          }
          .usr-img {
            display: inline-block;
            height: 50px;
            width: 50px;
            align-self: center;
            transform: translateY(-10px);
            img {
              object-fit: cover;
              border-radius: 50%;
              height: 50px;
              width: 50px;
            }
          }

          .msg-group {
            background: #fff;
            box-shadow: 1px 0 5px 1px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            padding: 10px;
            margin: 0 0 20px 10px;

            .msg-time {
              margin-top: 5px;
              // font-style: oblique;
              font-size: 0.6em;
              color: $gray;
              opacity: 0.7;
            }
          }
        }
      }
    }
  }
}

.msg-form {
  padding: 30px;
  background: $white;
  height: 150px;

  .msg {
    border-radius: 20px;
    height: 60px;
  }

  #image-upload {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }

  .file-input {
    margin-top: 10px;
    color: $gray;
    min-height: 30px;
    min-width: 30px;
    border-radius: 30px;
    padding: 5px;
    text-align: center;
    // padding-top: 3px;
    cursor: pointer;

    .filename {
      font-size: 0.7em;
      font-style: oblique;
    }

    .btn-close {
      color: $gray;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      font-size: 0.5em;
      padding: 0;
      margin-left: 3px;

      &:hover {
        color: #fff;
        background: $red;
      }
    }

    &:hover {
      background: #fff;
    }
  }

  .send-btn {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 60px;
    color: $gray;
    background: #fff;
    border: 1px solid #ccc;

    &:hover {
      border: none;
      background: $primary;
      color: #fff;
    }
  }
}

.chatroom-info {
  .cr-title {
    display: flex;
    align-items: center;
    margin-top: 20px;
    .avatar {
      img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
      }
      .cr-icon {
        height: 100px;
        width: 100px;
        font-size: 2em;
        color: $gray;
        background: #eaeaea;
        border-radius: 50%;
        text-align: center;
        padding-top: 20px;
      }
    }

    .title {
      .file-input,
      .btn,
      .form-control {
        font-size: 0.7em;
        border-radius: 20px;
      }
      #cr-new-avatar-img {
        opacity: 0;
        position: absolute;
        z-index: -1;
      }
    }
  }
  .invitation {
    margin: 20px 0;
    .form-control {
      display: inline-block;
      width: 200px;
      font-size: 0.8em;
      height: 30px;
      border-radius: 20px;
    }
    .btn {
      padding: 6px 10px;
      font-size: 0.7em;
    }
  }
  .associated-users {
    display: flex;
    position: relative;
    overflow: hidden;
    height: 400px;

    .members,
    .invited {
      flex: 1;
      display: flex;
      position: relative;
    }
    .members-container {
      position: absolute;
      width: 100%;
      height: 90%;
      display: flex;
      flex: 1;
      overflow-y: auto;
      flex-direction: column;
      align-self: flex-end;

      .user {
        padding: 5px;
        display: flex;
        align-items: center;
        height: 70px;
        width: 100%;
        .avatar {
          width: 50px;
          height: 50px;

          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
          }
        }
        .info {
          display: flex;
          flex-direction: column;
          .name {
            font-size: 0.8em;
          }
          .activity {
            font-size: 0.6em;
            font-weight: 100;
            font-style: oblique;
          }
        }

        &:hover {
          background: #eaeaea;
        }
      }
    }
  }
}
